@page
@model CartModel

<div class="container padding-large">
    <h2>@Localizer["Your cart"]</h2>
	@if (Model.Cart.Lines.Count > 0)
	{
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>@Localizer["Quantity"]</th>
					<th>@Localizer["Item"]</th>
					<th class="text-right">@Localizer["Price"]</th>
					<th class="text-right">@Localizer["Shipping Price"]</th>
					<th class="text-right">@Localizer["Subtotal"]</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var line in Model.Cart?.Lines
						?? Enumerable.Empty<CartLine>())
				{
					<tr>
						<td class="text-center">@line.Quantity</td>
						<td class="text-left">@line.Product.Name</td>
						<td class="text-right">
							$@line.Product.Price.ToString()
						</td>
						<td class="text-right">
							$@line.Product.ShippingPrice.ToString()
						</td>
						<td class="text-right">
							$@((line.Quantity * (line.Product.Price + line.Product.ShippingPrice)).ToString())
						</td>
						<td>
							<form asp-page-handler="Remove">
								@Html.AntiForgeryToken()
								<input type="hidden" name="ProductId" value="@line.Product.ProductId"/>
								<input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
								<button type="submit" class="btn btn-sm btn-danger">
									@Localizer["Remove"]
								</button>
							</form>
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
			<tr>
				<td colspan="3" class="text-right">@Localizer["Total"]:</td>
				<td class="text-right">
					$@Model.Cart?.ComputeTotalValue()
				</td>
			</tr>
			</tfoot>
		</table>
	}
	else
	{
		<div class="padding-small alert alert-warning text-center">
			@Localizer["Empty Cart"]
		</div>
	}
	<div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">
            @Localizer["Continue shopping"]
        </a>
		@if (Model.Cart.Lines.Count > 0)
		{
			<a class="btn btn-primary" asp-action="New"
			asp-controller="Order">
				@Localizer["Checkout"]
			</a>
		}
	</div>
</div>
