<!DOCTYPE html>
@inject Cart cart
@* @inject IViteManifest Manifest *@

@{
    var currentPath = Context.Request.Path;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/lib/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Store</title>
</head>

<body>
    <partial name="_Validation" />
    <script type="module" src="/dir/assets/main-C4YmwbTE.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
        <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
		<div class="container-fluid" style="max-width: 1920px; max-height: 60px">
            <a class="navbar-brand" href="/">
				<img src="/images/logo_iparts.png" class="logo"
					 style="max-width: 130px; height: auto; margin-top: 12px;">
            </a>
           @*  <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-icon">
                <use xlink:href="#navbar-icon"></use>
            </svg>
            </button> *@
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
                <a class="navbar-brand" href="index.html">
					<img src="/images/logo_iparts.png" class="img-fluid mb-4 logo">
                </a>
                <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
                <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="@(currentPath != "/" ? "nav-link me-4" : "nav-link me-4 active")" href="/">@Localizer["Home"]</a>
                </li>
                <li class="nav-item">
                    <a class="@(currentPath != "/Ebay/Search" ? "nav-link me-4" : "nav-link me-4 active")" href="/Ebay/Search">@Localizer["Search Form"]</a>
                </li>
                <li class="nav-item">
                    <a class="@(currentPath != "/6000/Page1" ? "nav-link me-4" : "nav-link me-4 active")" href="/6000/Page1">@Localizer["Products"]</a>
                </li>
                <li class="nav-item">
                    <a class="@(currentPath != "/Profile" ? "nav-link me-4" : "nav-link me-4 active")" href="/Profile">@Localizer["Profile"]</a>
                </li>
                <li class="nav-item">
                    <a class="@(currentPath != "/Account/Logout" ? "nav-link me-4" : "nav-link me-4 active")" href="/Account/Logout">@Localizer["Log Out"]</a>
                </li>
                <li class="nav-item">
                    <div class="user-items ps-5">
                        <ul class="d-flex justify-content-end list-unstyled">
                            <li class="search-item pe-3">
                            <a href="#" class="search-button">
                                <svg class="search">
                                <use xlink:href="#search"></use>
                                </svg>
                            </a>
                            </li>
                            <li class="pe-3">
                            <a href="#">
                                <svg class="user">
                                <use xlink:href="#user"></use>
                                </svg>
                            </a>
                            </li>
                            <li>
                                @if (CultureInfo.CurrentCulture.Name == "ru-RU")
                                {
                                    <div id="cart-button-ru" 
                                        data-cart-items="@Html.Raw(Json.Serialize(cart.Lines.Sum(x => x.Quantity)))" 
                                        data-cart-total="@Html.Raw(Json.Serialize(cart.ComputeTotalValue().ToString("c", CultureInfo.GetCultureInfo("en-US"))))">
                                    </div>

                                }
                                else
                                {
                                    <div id="cart-button" 
                                        data-cart-items="@Html.Raw(Json.Serialize(cart.Lines.Sum(x => x.Quantity)))" 
                                        data-cart-total="@Html.Raw(Json.Serialize(cart.ComputeTotalValue().ToString("c", CultureInfo.GetCultureInfo("en-US"))))">
                                    </div>
                                }

                                @* <vc:cart-summary/> *@
                            </li>
                        </ul>
                    </div>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </nav>
    </header>

    @RenderBody()

     <footer id="footer" class="overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-2 col-sm-6 pb-3">
                <div class="footer-menu">
                  <div class="social-links">
                    <ul class="d-flex list-unstyled">
                      <li>
                        <a href="#">
                          <svg class="facebook">
                            <use xlink:href="#facebook" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="instagram">
                            <use xlink:href="#instagram" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="twitter">
                            <use xlink:href="#twitter" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="linkedin">
                            <use xlink:href="#linkedin" />
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <svg class="youtube">
                            <use xlink:href="#youtube" />
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <hr>
      </div>
    </footer>
	
	<div id="footer-bottom">
	  <div class="container">
		<div class="row d-flex justify-content-between">
		  <div class="col-md-4 col-sm-6">
			<p class="mb-0">
			  © Copyright 2023 ILoveParts.
			</p>
		  </div>
		 @*  <div class="col-md-4 col-sm-6">
			  <div>
				  <partial name="_FormPartial"/>
			  </div>
		  </div> *@
		  <div class="col-md-4 col-sm-6 d-flex justify-content-end"> <!-- Aligns "Quick Links" to the right -->
			<div class="footer-menu text-uppercase text-right" style="font-size: 14px">
			  <h6 class="widget-title1">@Localizer["Quick Links"]</h6>
			  <ul class="menu-list list-unstyled">
				@* <li class="menu-item">
				  <a href="#">@Localizer["About"]</a>
				</li> *@
				<li class="menu-item">
				  <a href="/Home/PrivacyPolicy">@Localizer["Privacy Policy"]</a>
				</li>
				<li class="menu-item">
				  <a href="/Home/Contacts">@Localizer["Contact Us"]</a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>

</body>

</html>
