@model int

@{
	Layout = null;
}

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@Localizer["Welcome"] 🎉</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f4f4f4;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}

		.container {
			background-color: #fff;
			padding: 40px;
			border-radius: 8px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			text-align: center;
		}

		img {
			max-width: 150px;
			margin-bottom: 20px;
		}

		h1 {
			color: #333;
			margin-bottom: 20px;
		}

		p {
			line-height: 1.6;
			color: #666;
		}

		a {
			color: #007bff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<div class="container">
		<img src="https://dontknowhowtonameit1.blob.core.windows.net/web/wwwroot/images/logo_iparts.png" alt="ILoveParts Logo"> <!-- Replace with your actual logo URL -->
		<h1>@Localizer["Welcome"] 🎉</h1>
		<p>@Localizer["P1"]</p>
		<p>@Localizer["P2"]</p>
		<a href="https://iparts.me/Account/Confirmed" class="btn-btn primary">@Localizer["Confirmation"]</a>
		<p>@Localizer["P3"]</p>
		<p>@Localizer["P4"]</p>
	</div>
</body>
</html>
