@model Order

<h2>@Localizer["Check out now"]</h2>

@{
    Layout = "_Layout";
}

<partial name="_Validation" />

<section class="product-store padding-large ps-3">
    <form id="checkout-form" asp-controller="Order" asp-action="Checkout" method="post">
        @Html.AntiForgeryToken()
        <h3>@Localizer["Ship to"]</h3>
        <div class="form-group">
            <label>@Localizer["Name"]:</label>
            <input asp-for="Name" id="Name" class="form-control" value="@(ViewBag.User.FullName ?? String.Empty)" />
            <span asp-validation-for="Name" class="text-danger">
            </span>
        </div>
        <h3 class="mt-4">@Localizer["Address"]</h3>
        <div class="form-group">
            <label>@Localizer["Line"] 1:</label>
            <input asp-for="Line1" id="Line1" class="form-control" value="@(ViewBag.User.Street ?? String.Empty)" />
            <span asp-validation-for="Line1" class="text-danger">
            </span>
        </div>
        <div class="form-group">
            <label>@Localizer["Line"] 2:</label>
              <input asp-for="Line2" class="form-control" />
        </div>
        <div class="form-group">
            <label>@Localizer["Line"] 3:</label>
             <input asp-for="Line2" class="form-control" />
        </div>
        <div class="form-group">
            <label>@Localizer["City"]:</label>
            <input asp-for="City" id="City" class="form-control" value="@(ViewBag.User.City ?? String.Empty)" />
            <span asp-validation-for="City" class="text-danger">
            </span>
        </div>
        <div class="form-group">
            <label>@Localizer["State"]:</label>
            <input asp-for="State" id="State" class="form-control" value="@(ViewBag.User.Region ?? String.Empty)"/>
            <span asp-validation-for="State" class="text-danger">
            </span>
        </div>
        <div class="form-group">
            <label>@Localizer["Zip"]:</label>
            <input asp-for="Zip" id="Zip" class="form-control" value="@(ViewBag.User.PostalCode ?? String.Empty)" />
            <span asp-validation-for="Zip" class="text-danger">
            </span>
        </div>
        <div class="form-group">
            <label>@Localizer["Country"]:</label>
            <input asp-for="Country" id="Country" class="form-control" value="@(ViewBag.User.Country ?? String.Empty)" />
            <span asp-validation-for="Country" class="text-danger">
            </span>
        </div>
		<h3 class="mt-4">@Localizer["Options"]</h3>
        <div class="checkbox">
            <label>
				<input asp-for="GiftWrap" /> @Localizer["Gift wrap these items"]
            </label>
        </div>

		 <h3 class="mt-4">@Localizer["Payment Method"]</h3>
        <div>
            <label>
                <input type="radio" name="PaymentMethod" value="Braintree" checked>
                <img src="/images/paypal.jpg" alt="paypal">  Paypal     
            </label>
            <label>
                <input type="radio" name="PaymentMethod" value="YooKassa"> 
                <img src="/images/yokassa.png" style="width: 40px" alt="paypal">  YooKassa
            </label>
        </div>

        <div class="text-center padding-bottom padding-small">
			<span>@Localizer["Confirm Order"] - @Model.Lines.Sum(e => e.Product.Price * e.Quantity).ToString("C")</span>
            <input class="btn btn-primary" id="complete-order" type="submit"
				value="@Localizer["Complete Order"]"/>
        </div>
    </form>
</section>
